@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
.wrapperOne {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vH;
}

.dark {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3);
}

.section-title {
  text-align: center;
  font-size: 2.2rem;
}

@media (min-width: 768px) {
  .section-title {
    font-size: 3rem;
  }
}
@media (min-width: 992px) {
  .section-title {
    font-size: 4rem;
  }
}
.line {
  margin: 0.5em auto 2em;
  height: 2px;
  width: 30%;
  max-width: 200px;
}

.green-line {
  background-color: #34401A;
}

.white-line {
  background-color: #f8f8f8;
}

.boom-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-animation: animationBtn 0.2s;
          animation: animationBtn 0.2s;
}

@-webkit-keyframes animationBtn {
  to {
    -webkit-transform: translate(-50%, -50%) scale(2);
            transform: translate(-50%, -50%) scale(2);
  }
}

@keyframes animationBtn {
  to {
    -webkit-transform: translate(-50%, -50%) scale(2);
            transform: translate(-50%, -50%) scale(2);
  }
}
.nav-mobile__btn {
  position: fixed;
  top: 15px;
  right: 15px;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 5;
}
.nav-mobile__btn:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}
.nav-mobile__btn:hover .nav-mobile__btn__bars::after,
.nav-mobile__btn:hover .nav-mobile__btn__bars::before {
  width: 100%;
}
.nav-mobile__btn__box {
  position: relative;
  width: 40px;
  height: 30px;
}
.nav-mobile__btn__bars, .nav-mobile__btn__bars::after, .nav-mobile__btn__bars::before {
  position: absolute;
  right: 0;
  height: 2.5px;
  content: "";
  background-color: #f8f8f8;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  background-color: #f8f8f8;
}
.nav-mobile__btn__bars {
  width: 100%;
}
.nav-mobile__btn__bars::after {
  top: 12px;
  width: 60%;
}
.nav-mobile__btn__bars::before {
  top: 24px;
  width: 30%;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.nav-mobile__items {
  position: fixed;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  top: 0;
  height: 100vH;
  width: 100%;
  background-image: linear-gradient(45deg, rgb(202, 217, 89) 10%, rgb(100, 115, 47) 75%);
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: transform 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: transform 0.3s cubic-bezier(0.65, 0.05, 0.36, 1), -webkit-transform 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.nav-mobile__items--active {
  -webkit-transform: translate(0);
          transform: translate(0);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: transform 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: transform 0.3s cubic-bezier(0.65, 0.05, 0.36, 1), -webkit-transform 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.nav-mobile__item {
  position: relative;
  display: block;
  color: #f8f8f8;
  margin: 0.5em 0;
  padding: 0.5em 2em;
  font-size: 2rem;
  text-decoration: none;
}
.nav-mobile__item::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: #f8f8f8;
  content: "";
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.nav-mobile__item:hover::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

@-webkit-keyframes navItemsAnimation {
  from {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes navItemsAnimation {
  from {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.nav-items-animation {
  -webkit-animation: navItemsAnimation 1s both;
          animation: navItemsAnimation 1s both;
}

.nav-desktop {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.nav-desktop__item {
  position: relative;
  color: #f8f8f8;
  text-decoration: none;
  padding: 1em;
}
.nav-desktop__item::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 1.5px;
  left: 10%;
  bottom: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  background-color: #f8f8f8;
}
.nav-desktop__item:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media (min-width: 992px) {
  .nav-mobile {
    display: none;
  }
  .nav-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 1400px) {
  .nav-desktop__item {
    font-size: 1.85rem;
  }
}
.header {
  position: absolute;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  height: 100vH;
  width: 100%;
  background-image: url("../img/headerMobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.header__text, .header__icon, .header__img {
  z-index: 3;
  color: #f8f8f8;
}
.header__img {
  margin-top: 2em;
  width: 7em;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
}
.header__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 5.5em;
}
.header__text a {
  position: relative;
  color: #f8f8f8;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.6);
  height: 1.8em;
  line-height: 1.8em;
  border-radius: 15px;
}
.header__icon {
  font-size: 2.3rem;
  margin-top: 1em;
  padding: 1em;
}

@-webkit-keyframes zoomIn {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}

@keyframes zoomIn {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}
.zoomIn {
  -webkit-animation: zoomIn;
          animation: zoomIn;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation: fadeIn;
          animation: fadeIn;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes fadeIn2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.85;
  }
}

@keyframes fadeIn2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.85;
  }
}
.fadeIn2 {
  -webkit-animation: fadeIn2;
          animation: fadeIn2;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@media (min-width: 768px) {
  .header {
    background-image: url("../img/headerDesktop.jpg");
  }
  .header__img {
    margin-top: 8em;
    width: 10em;
    border-radius: 35px;
  }
  .header__text {
    height: 10em;
  }
  .header__text h3 {
    font-size: 2.2rem;
  }
  .header__text a {
    height: 2.8em;
    line-height: 2.8em;
    border-radius: 15px;
    width: 80%;
    margin: auto;
  }
  .header__icon {
    margin-top: 0;
    font-size: 2.7rem;
  }
}
@media (min-width: 992px) {
  .header__img {
    margin-top: 8em;
    width: 12em;
    border-radius: 45px;
  }
  .header__text {
    height: 14em;
  }
  .header__text h3 {
    font-size: 2.8rem;
  }
  .header__text a {
    height: 3.2em;
    line-height: 3.2em;
    border-radius: 25px;
  }
  .header__icon {
    margin-top: -8em;
    font-size: 2.8rem;
  }
}
@media (min-width: 1400px) {
  .header__text {
    height: 12em;
  }
  .header__text h3 {
    font-size: 3.2rem;
  }
  .header__text a {
    font-size: 1.8rem;
    border-radius: 40px;
  }
  .header__icon {
    margin-top: -4em;
    font-size: 3.2rem;
  }
}
.about-me {
  color: #2e2e2e;
  position: relative;
}
.about-me__text, .about-me__skills {
  width: 85%;
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;
}
.about-me__text p {
  margin-top: 1em;
  font-size: 2rem;
  text-align: justify;
}
.about-me__skills {
  margin-top: 3em;
}
.about-me__skills h4 {
  font-size: 2rem;
  text-align: center;
}
.about-me__skills__items {
  margin-top: 2.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about-me__skills__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em 0;
}
.about-me__skills__item__title {
  font-weight: bold;
}
.about-me__skills__item__mark {
  margin: 0 1em;
}

@media (min-width: 768px) {
  .about-me__text p {
    margin-top: 1.8em;
    font-size: 2.2rem;
  }
  .about-me__skills {
    margin-top: 3.5em;
  }
  .about-me__skills h4 {
    font-size: 2.6rem;
  }
  .about-me__skills__items {
    margin-top: 2.4em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about-me__skills__item {
    margin: 1em 1em;
  }
  .about-me__skills__item__title {
    font-size: 1.8rem;
  }
  .about-me__skills__item__mark {
    margin: 0 1.2em;
    font-size: 1.8rem;
  }
}
@media (min-width: 992px) {
  .about-me__text p {
    font-size: 2.2rem;
  }
  .about-me__skills {
    margin-top: 4em;
  }
  .about-me__skills h4 {
    font-size: 3.2rem;
  }
  .about-me__skills__items {
    margin-top: 2.6em;
  }
  .about-me__skills__item {
    margin: 2em 2em;
  }
  .about-me__skills__item__title {
    font-size: 2.1rem;
  }
  .about-me__skills__item__mark {
    margin: 0 1.4em;
    font-size: 2.1rem;
  }
}
@media (min-width: 1400px) {
  .about-me__skills {
    margin-top: 6em;
  }
  .about-me__skills h4 {
    font-size: 3.6rem;
  }
  .about-me__skills__items {
    margin-top: 3em;
  }
  .about-me__skills__item {
    margin: 2.5em 2.5em;
  }
  .about-me__skills__item__title {
    font-size: 2.2rem;
  }
  .about-me__skills__item__mark {
    margin: 0 1.6em;
    font-size: 2.2rem;
  }
}
.edu-work {
  position: relative;
  overflow: hidden;
  width: 100%;
  background-image: url("../img/workEduMobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #f8f8f8;
}
.edu-work__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 3;
}
.edu-work__timelines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.edu-work__timelines h4 {
  margin-top: 2em;
  font-size: 2rem;
}
.edu-work__timelines__items {
  margin-top: 2em;
  position: relative;
}
.edu-work__timelines__items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}
.edu-work__timelines__items li {
  text-align: center;
  position: relative;
  margin-bottom: 2em;
  padding: 1em;
  width: 90%;
  border: 1px solid #CAD959;
  border-radius: 8px;
}
.edu-work__timelines__items li h6 {
  font-size: 1.4rem;
  padding: 1em 0;
}
.edu-work__timelines__items li p {
  font-size: 1.4rem;
  padding: 0.5em 0;
}
.edu-work__timelines__items li p.description {
  margin-top: -1em;
  font-style: italic;
}
.edu-work__timelines__items li p:last-of-type {
  font-style: italic;
}
.edu-work__timelines__items li:nth-child(odd)::after {
  right: -31px;
}

.edu-work::after,
.edu-work::before {
  position: absolute;
  height: 20px;
  width: 200px;
  background-color: #f8f8f8;
  z-index: 3;
  content: "";
}
@media (min-width: 576px) {
  .edu-work::after,
.edu-work::before {
    height: 40px;
    width: 300px;
  }
}
@media (min-width: 992px) {
  .edu-work::after,
.edu-work::before {
    height: 45px;
    width: 450px;
  }
}
@media (min-width: 1200px) {
  .edu-work::after,
.edu-work::before {
    height: 50px;
    width: 800px;
  }
}

.edu-work::after {
  top: -20px;
  left: -50px;
  -webkit-transform: skew(-45deg);
          transform: skew(-45deg);
}

.edu-work::before {
  bottom: -20px;
  right: -50px;
  -webkit-transform: skew(-45deg) rotate(180deg);
          transform: skew(-45deg) rotate(180deg);
}

@media (min-width: 768px) {
  .edu-work {
    background-image: url("../img/workEduDesktop.jpg");
  }
  .edu-work__timelines h4 {
    font-size: 3rem;
  }
  .edu-work__timelines__items {
    margin-top: 4em;
  }
  .edu-work__timelines__items li {
    border-radius: 16px;
  }
  .edu-work__timelines__items li h6 {
    font-size: 2rem;
    padding: 1.5em 0;
  }
  .edu-work__timelines__items li p {
    font-size: 1.8rem;
    padding: 0.6em 0;
  }
}
@media (min-width: 992px) {
  .edu-work__timelines h4 {
    font-size: 3.4rem;
  }
  .edu-work__timelines__items {
    margin-top: 6em;
  }
  .edu-work__timelines__items li {
    border-radius: 22px;
  }
  .edu-work__timelines__items li h6 {
    font-size: 2.6rem;
  }
  .edu-work__timelines__items li p {
    font-size: 2rem;
  }
}
@media (min-width: 1400px) {
  .edu-work__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .edu-work__timelines h4 {
    font-size: 3.5rem;
  }
  .edu-work__timelines__items {
    width: 100%;
    margin-top: 8em;
  }
  .edu-work__timelines__items ul {
    min-width: 600px;
  }
  .edu-work__timelines__items li {
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 50%;
    border-radius: 16px;
  }
  .edu-work__timelines__items li h6 {
    font-size: 1.8rem;
  }
  .edu-work__timelines__items li p {
    font-size: 1.8rem;
  }
  .edu-work__timelines__items li::after {
    position: absolute;
    top: calc(50% - 10px);
    width: 20px;
    height: 20px;
    background-color: #CAD959;
    border-radius: 50%;
    content: "";
  }
  .edu-work__timelines__items li:nth-child(even) {
    -ms-flex-item-align: end;
        align-self: flex-end;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  .edu-work__timelines__items li:nth-child(even)::after {
    left: -31px;
  }
  .edu-work__timelines__items li:nth-child(odd) {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  .edu-work__timelines__items li:nth-child(odd)::after {
    right: -31px;
  }
  .edu-work__timelines__items::before {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 2px;
    height: 100%;
    background-color: #CAD959;
    content: "";
  }
}
.portfolio {
  width: 85%;
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;
}
.portfolio__text {
  font-size: 1.8rem;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
.portfolio__accordions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.portfolio__accordions__item {
  margin-top: 2em;
}
.portfolio__accordions__item__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  color: #f8f8f8;
  background-image: linear-gradient(45deg, rgb(202, 217, 89) 10%, rgb(100, 115, 47) 75%);
}
.portfolio__accordions__item__top__btn {
  overflow: hidden;
  position: relative;
  padding: 0.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f8f8f8;
  font-size: 1.4rem;
  border: 0px;
}
.portfolio__accordions__item__top__btn .far {
  font-size: 2.2rem;
  padding: 0.3em;
  color: #34401A;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.portfolio__accordions__item__top__btn::after {
  content: "";
  position: absolute;
  height: 120%;
  width: 200%;
  left: -210%;
  top: -10%;
  background-color: rgba(0, 0, 0, 0.2);
  filter: blur(4px);
  -o-filter: blur(40px);
  -ms-filter: blur(40px);
  -moz-filter: blur(40px);
  -webkit-filter: blur(12px);
  -webkit-transition: left 2s;
  transition: left 2s;
  border-radius: 40px;
}
.portfolio__accordions__item__top__btn:hover.portfolio__accordions__item__top__btn::after {
  left: 0%;
}
.portfolio__accordions__item__top__btn:hover {
  cursor: pointer;
}
.portfolio__accordions__item__top__info {
  text-align: center;
  padding: 1em;
}
.portfolio__accordions__item__bottom {
  position: relative;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  color: #f8f8f8;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.portfolio__accordions__item__bottom--first {
  background-image: url("../img/portfolioOne.jpg");
  height: 500px;
}
.portfolio__accordions__item__bottom--second {
  background-image: url("../img/portfolioTwo.jpg");
  height: 300px;
}
.portfolio__accordions__item__bottom--third {
  background-image: url("../img/portfolioThree.jpg");
  height: 300px;
}
.portfolio__accordions__item__bottom p, .portfolio__accordions__item__bottom a {
  z-index: 3;
}
.portfolio__accordions__item__bottom p {
  font-size: 1.8rem;
  padding: 0.8em 0;
  text-align: center;
}
.portfolio__accordions__item__bottom p:first-of-type {
  text-decoration: underline;
}
.portfolio__accordions__item__bottom a {
  text-decoration: none;
  color: #f8f8f8;
  font-size: 1.6rem;
  padding: 0.5em;
}

.accordion-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 768px) {
  .portfolio__text {
    font-size: 2rem;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
  }
  .portfolio__accordions__item {
    margin-top: 2.5em;
  }
  .portfolio__accordions__item__top {
    padding: 1.2em;
  }
  .portfolio__accordions__item__top__btn {
    width: 60%;
  }
  .portfolio__accordions__item__top__info {
    font-size: 1.8rem;
  }
  .portfolio__accordions__item__bottom p {
    font-size: 2rem;
  }
  .portfolio__accordions__item__bottom a {
    font-size: 1.8rem;
  }
}
@media (min-width: 1200px) {
  .portfolio__text {
    font-size: 2rem;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }
  .portfolio__accordions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .portfolio__accordions__item {
    margin-top: 4em;
    width: 80%;
    max-width: 1000px;
  }
  .portfolio__accordions__item:nth-of-type(2n) {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .portfolio__accordions__item__top {
    padding: 2em;
  }
  .portfolio__accordions__item__top__btn {
    width: 50%;
    font-size: 1.6rem;
  }
  .portfolio__accordions__item__top__btn .far {
    font-size: 2.4rem;
  }
  .portfolio__accordions__item__bottom p {
    font-size: 2.2rem;
  }
  .portfolio__accordions__item__bottom a {
    font-size: 2rem;
  }
}
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-color: #f8f8f8;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}

section {
  padding: 5em 0;
}

@media (min-width: 768px) {
  section {
    padding: 6em 0;
  }
}
@media (min-width: 992px) {
  section {
    padding: 8em 0;
  }
}/*# sourceMappingURL=style.css.map */