
$my-white: #f8f8f8;
$greenLight: #CAD959;
$greenLight2: #B4BF5E;
$greenMedium: #64732F;
$greenDark: #34401A;
$greenDark2: #252617;
$my-black: #2e2e2e;

$gradientOne: linear-gradient(45deg, rgba(202,217,89,1) 10%, rgba(100,115,47,1) 75%);
$gradientTwo: linear-gradient(45deg, rgba(202,217,89,1) 10%, rgba(52,64,26,1) 75%);
$gradientThree: linear-gradient(45deg, rgba(180,191,94,1) 10%, rgba(52,64,26,1) 75%);
