
// classes

.wrapperOne {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vH;
}


.dark {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: rgba(0,0,0, .3);
}

.section-title {
    position: relative;
    text-align: center;
    font-size: 2.2rem;
    z-index: 3;
}

@media (min-width: 768px) {
    .section-title {
        font-size: 3rem;
    }
}

@media (min-width:992px) {
    .section-title {
        font-size: 4rem;
    }
}

.line {
    position: relative;
    z-index: 3;
    margin: .5em auto 2em;
    height: 2px;
    width: 30%;
    max-width: 200px;
}

.green-line {
    background-color: $greenDark;
}

.white-line {
    background-color: $my-white;
}

.boom-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgba(255,255,255, .2);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: animationBtn .2s;
}

@keyframes animationBtn {
    to {
        transform: translate(-50%, -50%) scale(2);
    }
}


// mixins
@mixin heroImg {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

@mixin wrapper {
    width: 85%;
    max-width: 1400px;
    margin: 0 auto;
    overflow: hidden;
}

@mixin block {
    position: absolute;
    height: 20px;
    width: 200px;
    background-color: $my-white;
    z-index: 3;
    content: '';

    @media (min-width: 576px){
        height: 40px;
        width: 300px;
    }

    @media (min-width: 992px){
        height: 45px;
        width: 450px;
    }
    @media (min-width: 1200px){
        height: 50px;
        width: 800px;
    }
}

@mixin left-top-block {
    top: -20px;
    left: -50px;
    transform: skew(-45deg);
}

@mixin bottom-right-block {
    bottom:-20px;
    right: -50px;
    transform: skew(-45deg) rotate(180deg);
}

@mixin contactForm {
    margin-bottom: 2em;
    padding: 0.6em 1.2em;
    border: none;
    border-radius: 8px;
    font-size: 1.6rem;
}

@mixin btn {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    font-size: 1.4rem;
    border: 0px;
    cursor: pointer;
    background-color: $my-white;
    justify-content: center;
    align-items: center;
}

@mixin btnAfter {
    content: '';
    position: absolute;
    height: 120%;
    width: 200%;
    left: -210%;
    top: -10%;
    background-color: rgba(0, 0, 0, .2);
    filter:blur(4px);
    -o-filter:blur(40px);
    -ms-filter:blur(40px);
    -moz-filter:blur(40px);
    -webkit-filter:blur(12px);
    transition: left 2s;
    border-radius: 40px;
}