
.header {
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    height: 100vH;
    width: 100%;
    background-image: url('../img/headerMobile.jpg');
    @include heroImg;

    &__text,
    &__icon,
    &__img {
        z-index: 3;
        color: $my-white;
    }

    &__img {
        margin-top: 2em;
        width: 7em;
        object-fit: cover;
        border-radius: 25px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 5.5em;
        
        a {
            position: relative;
            color: $my-white;
            text-decoration: none;
            background-color: rgba(0,0,0, .6);
            height: 1.8em;
            line-height: 1.8em;
            border-radius: 15px;
        }
    }

    &__icon {
        font-size: 2.3rem;
        margin-top: 1em;
        padding: 1em;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.15);
    }
}

.zoomIn {
    animation: zoomIn;
    animation-duration: 2s;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation: fadeIn;
    animation-delay: 2s;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes fadeIn2 {
    from {
        opacity: 0;
    }
    to {
        opacity: .85;
    }
}

.fadeIn2 {
    animation: fadeIn2;
    animation-delay: 2s;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@media (min-width:768px) {
    
    .header {
        background-image: url('../img/headerDesktop.jpg');
    
        &__img {
            margin-top: 8em;
            width: 10em;
            border-radius: 35px;
        }
    
        &__text {
            height: 10em;

            h3 {
                font-size: 2.2rem;
            }
            
            a {
                height: 2.8em;
                line-height: 2.8em;
                border-radius: 15px;
                width: 80%;
                margin: auto;
            }
        }
    
        &__icon {
            margin-top: 0;
            font-size: 2.7rem;
        }
    }
}
@media (min-width:992px) {
    
    .header {
    
        &__img {
            margin-top: 8em;
            width: 12em;
            border-radius: 45px;
        }
    
        &__text {
            height: 14em;

            h3 {
                font-size: 2.8rem;
            }
            
            a {
                height: 3.2em;
                line-height: 3.2em;
                border-radius: 25px;
            }
        }
    
        &__icon {
            margin-top: -8em;
            font-size: 2.8rem;
        }
    }
}
@media (min-width:1400px) {
    
    .header {
    
        &__text {
            height: 12em;

            h3 {
                font-size: 3.2rem;
            }
            
            a {
                font-size: 1.8rem;
                border-radius: 40px;
            }
        }
    
        &__icon {
            margin-top: -4em;
            font-size: 3.2rem;
        }
    }
}