
// nav mobile

.nav-mobile {
    
    &__btn {
        position: fixed;
        top: 15px;
        right: 15px;
        padding: 1em;
        background: none;
        border: 1px solid transparent;
        cursor: pointer;
        z-index: 5;

        &:focus{
            outline: none;
            border: 1px solid rgba(255, 255, 255, .5);
            border-radius: 8px;
        }

        &:hover {
            .nav-mobile__btn__bars::after, 
            .nav-mobile__btn__bars::before {
                width: 100%;
            }
        }

        &__box {
         position: relative;
         width: 40px;
         height: 30px;
        }

        &__bars,
        &__bars::after,
        &__bars::before {
            position: absolute;
            right: 0;
            height: 2.5px;
            content: '';
            background-color: $my-white;
            transition: width .3s;
        }

        &__bars {
            width: 100%;

            &::after {
                top: 12px;
                width: 60%;
            }

            &::before {
                top: 24px;
                width: 30%;
                transition-delay: .1s;
            }
        }
    }

    &__items {
        position: fixed;
        transform: translateX(100%);
        top: 0;
        height: 100vH;
        width: 100%;
        background-image: $gradientOne;
        z-index: 4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: transform .3s cubic-bezier(0.65, 0.05, 0.36, 1);
        
            &--active {
                transform: translate(0);
                transition: transform .3s cubic-bezier(0.65, 0.05, 0.36, 1);
            }
    }

    &__item {
        position: relative;
        display: block;
        color: $my-white;
        margin: 0.5em 0;
        padding: 0.5em 2em;
        font-size: 2rem;
        text-decoration: none;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 3px;
            height: 100%;
            background-color: $my-white;
            content: '';
            transform: scaleY(0);
            transition: transform .3s;
        }

        &:hover::before {
            transform: scaleY(1);
        }
    }
}

@keyframes navItemsAnimation {
    from {
        transform: translateX(200%);
    }
    
    to {
        transform: translateX(0);
    }
}

.nav-items-animation {
    animation: navItemsAnimation 1s both;
}

// nav desktop

.nav-desktop {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    justify-content: space-evenly;
   
    &__item {
        position: relative;
        color: $my-white;
        text-decoration: none;
        padding: 1em;

        &::before {
            content: '';
            position: absolute;
            width: 80%;
            height: 1.5px;
            left: 10%;
            bottom: 0;
            transform: scale(0);
            transform-origin: center;
            transition: transform .3s;
            background-color: $my-white;
        }
        
        &:hover::before {
            transform: scale(1);
        }
    }
}

@media (min-width: 992px) {
    .nav-mobile {
        display: none;
    }

    .nav-desktop {
        display: flex;
    }
}

@media (min-width: 1400px){
    .nav-desktop {

        &__item {
            font-size: 1.85rem;
            font-weight: bold;
        }
    }
}

.dark-color {
    color: $greenDark2;
    
    &::before {
        background-color: $greenDark2;
    }
}

.dark-bgc {
    background-color: $greenDark2;
    
    &::before,
    &::after {
        background-color: $greenDark2;
    }
}