.portfolio {
    @include wrapper;
    
    &__text {
        font-size: 1.8rem;
        text-align: center;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    &__accordions {
        display: flex;
        flex-direction: column;  
        
        &__item {
            margin-top: 2em;
            
            &__top {
                display: flex;
                flex-direction: column-reverse;
                justify-content: space-around;
                align-items: center;
                padding: 1em;
                border-top-left-radius: 16px;
                border-top-right-radius: 16px;
                color: $my-white;
                background-image: $gradientTwo;
                
                &__btn {
                    @include btn;
                    padding: 0.3em;
                    display: flex;
                    width: 50%;
                    flex-direction: row;

                    .far {
                        font-size: 2.2rem;
                        padding: .3em;
                        color: $greenDark;
                        transition: transform .3s;
                    }

                    
                    &::after {
                        @include btnAfter;
                    }

                    &:hover.portfolio__accordions__item__top__btn::after{
                            left: 0%;
                    }

                }

                &__info {
                    text-align: center;
                    padding: 1em;
                }
            }
            
            &__bottom {
                position: relative;
                display: none;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                padding: 1em;
                border-bottom-left-radius: 16px;
                border-bottom-right-radius: 16px;
                color: $my-white;
                overflow: hidden;
                @include heroImg;

                &--first{
                    background-image: url('../img/portfolioOne.jpg');
                    height: 500px;
                }
                
                &--second{
                    background-image: url('../img/portfolioTwo.jpg');
                    height: 300px;
                }
                
                &--third{
                    background-image: url('../img/portfolioThree.jpg');
                    height: 300px;
                }

                p, a {
                    z-index: 3;
                }

                p {
                    font-size: 1.8rem;
                    padding: 0.8em 0;
                    text-align: center;
                }
                
                p:first-of-type {
                    text-decoration: underline;
                }

                a {
                    text-decoration: none;
                    color: $my-white;
                    font-size: 1.6rem;
                    padding: 0.5em;
                }

            }
        }
    }
    
}

.accordion-active {
    display: flex;
}

@media (min-width:768px) {
    .portfolio {
        
        &__text {
            font-size: 2rem;
            margin-top: 1.2em;
            margin-bottom: 1.2em;
        }
    
        &__accordions {
            
            &__item {
                margin-top: 2.5em;
                
                &__top {
                    padding: 1.2em;
                    
                    &__btn {
                        width: 60%;
                    }
    
                    &__info {
                        font-size: 1.8rem;
                    }
                }
                
                &__bottom {
    
                    p {
                        font-size: 2rem;
                    }

                    a {
                        font-size: 1.8rem;
                    }
    
                }
            }
        }
        
    }
    
}

@media (min-width:1200px) {
    .portfolio {
        
        &__text {
            font-size: 2rem;
            margin-top: 1.5em;
            margin-bottom: 1.5em;
        }
    
        &__accordions {
            display: flex;
            flex-direction: column;  
            justify-content: center;
            align-items: start;
            
            &__item {
                margin-top: 4em;
                width: 80%;
                max-width: 800px;
            
            &:nth-of-type(2n) {
                align-self: flex-end;
            }
                
                &__top {
                    padding: 2em;              
                    
                    &__btn {
                        width: 50%;
                        font-size: 1.6rem;
    
                        .far {
                            font-size: 2.4rem;
                        }
    
                    }
    
                }
                
                &__bottom {
    
                    p {
                        font-size: 2.2rem;
                    }
    
                    a {
                        font-size: 2rem;
                    }
    
                }
            }
        }
        
    }
}
