@import './colors';
@import './components';
@import './nav';
@import './header';
@import './aboutMe';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

*, *::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    background-color: $my-white;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
}

section {
    padding: 5em 0;
}

@media (min-width:768px) {
    section {
        padding: 6em 0;
    }
}

@media (min-width:992px) {
    section {
        padding: 8em 0;
    }
}
